<h2>Welcome to the Battleship game!</h2>
  <img src="/images/battleship.png" alt="" width="401" height="258" border="1"> <!-- How to make this work?! -->
  <form action="/new_game" method="get" >
    <input type="submit" value="Play Now!">
  </form>